# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

jsonContent:

  meta: false

  pages: false

  posts:

    title: true

    date: true

    path: true

    text: false

    raw: false

    content: false

    slug: false

    updated: false

    comments: false

    link: false

    permalink: false

    excerpt: false

    categories: false

    tags: true


# 打赏
# 打赏type设定：0-关闭打赏； 1-文章对应的md文件里有reward:true属性，才有打赏； 2-所有文章均有打赏
reward_type: 2
# 打赏wording
reward_wording: '谢谢你请我吃糖果'
# 支付宝二维码图片地址，跟你设置头像的方式一样。比如：/assets/img/alipay.jpg
alipay: zhifubao.png
# 微信二维码图片地址
weixin: 
avatar: http://p6hlch5jf.bkt.clouddn.com/dog.jpg

# Site
title: Aspire
subtitle: 
description: 
keywords: 
author: Aspire
language: zh-CN
timezone:


# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: http://p6hlch5jf.bkt.clouddn.com/dog.jpg
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace:
  
# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 5
  order_by: -date
  
# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 5
pagination_dir: page


# index_generator:
#  per_page: 5

archive_generator:
  per_page: 10
  yearly: true
  monthly: true

tag_generator:
  per_page: 5
# 其中per_page字段是你希望设定的显示篇数。index, archive及tag开头分表代表主页，归档页面和标签页面。

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: yilia

#post_asset_folder: true

baidusitemap: 
  path: baidusiteamp.xml

# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:
  type: git
  repo: git@github.com:ljgithub669/ljgithub669.github.io.git
  branch: master

# 宠物
live2d:
  model: wanko
  bottom: -30
  #不在手机上显示
  #mobileShow: false